@using TSM.Data.ModelViews
@using TSM.DataAccess
@using TSM.Services

@model LeaveWrapper

@await Component.InvokeAsync("NToastNotify.Toastr")
@inject LeaveManager _leaveManager

@{
    ViewData["Title"] = "Summery Timesheet Mananger";
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}


@section Customcss{
    <link href="~/DatePicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/toastr-master/toastr.css" rel="stylesheet" />

    <style>
        .table {
            text-align: left;
        }

        .table_align_center {
            text-align: center;
        }

        .boxsizingBorder {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        form {
            margin-right: 10px;
            margin-left: 10px;
        }

        .boxsizingBorder {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .text_align_center {
            text-align: center;
        }
    </style>
}

@section jvscript{
    <script src="~/DatePicker/js/bootstrap-datepicker.js"></script>
    <script src="~/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/toastr-master/toastr.min.js"></script>
    <script src="~/momentjs/moment.js"></script>

    <script>
        $(document).ready(function () {
            var leaveId = '@ViewData["leaveId"]';
            if (leaveId != "") {
                GetLeaveDetail(leaveId);
            }
        });

        function GetLeaveDetail(leaveId) {
            var targetUrl = '@Url.Action("GetLeaveDetailForManager", "Manage")?leaveId=' + leaveId;
             $.ajax({
                url: targetUrl,
                type: "GET",
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    SetUpElements(result);
                    $('#DetailMD').modal('show');
                },
                error: function () {
                    alert('Fail to connect to server, please contact IT department for support');
                }
            });
        }

        function SetUpElements(result) {
            $('#LeaveHandleVM_LeaveID').val(result['leaveID']);
            $('#DetailVM_leaveID').val(result['leaveID']);
            $("input[id='DetailVM_employeeName']").val(result['userName']);
            $("input[id='DetailVM_submittedDate']").val(result['submittedDate']);
            $("input[id='DetailVM_fromDate']").val(result['fromDate']);
            $("input[id='DetailVM_toDate']").val(result['toDate']);
            $("input[id='DetailVM_leaveType']").val(result['leaveType']);
            $("input[id='DetailVM_approvedDate']").val(result['approvedDate']);
            $("input[id='DetailVM_Approver']").val(result['approver']);
            $('#DetailVM_note').html(result['note']);

            // handle Leave data
            var defaulAnnualLeave = result['defaultAnnualLeave'];
            var nAnnualLeave = result['nAnnualLeave'];
            var defaulSickLeave = result['defaultSickLeave'];
            var nSickLeave = result['nSickLeave'];
            var otherLeave = result['nOtherLeave'];

            $("input[id='DetailVM_AnnualLeave']").val(nAnnualLeave + "/" + defaulAnnualLeave);
            $("input[id='DetailVM_SickLeave']").val(nSickLeave + "/" + defaulSickLeave);
            $("input[id='DetailVM_OtherLeave']").val(otherLeave);

            $("input[id='DetailVM_AnnualLeave']").removeClass();
            $("input[id='DetailVM_SickLeave']").removeClass();
            if (defaulAnnualLeave <= nAnnualLeave) {
                $("input[id='DetailVM_AnnualLeave']").addClass("form-control text_align_center label-danger");
            } else {
                $("input[id='DetailVM_AnnualLeave']").addClass("form-control text_align_center");
            }

            if (defaulSickLeave <= nSickLeave) {
                $("input[id='DetailVM_SickLeave']").addClass("form-control text_align_center label-danger");
            } else {
                $("input[id='DetailVM_SickLeave']").addClass("form-control text_align_center");
            }

            // handle CC emails


            // handle State label
            var statusClass = '';
            var statusName = '';

            var state = result['state'];
            if (state != '2') {
                if (state == '0') {
                    statusClass = 'label label-success'
                    statusName = ' Approved';
                } else {
                    statusClass = 'label label-danger'
                    statusName = ' Rejected';
                }

                $("button[id='DetailVM_approve']").hide();
                $("button[id='DetailVM_reject']").hide();
            } else {
                statusClass = 'label label-warning';
                statusName = ' Waiting';

                var curDate = $('#lblCurDate').html();
                // var formattedDate = moment(curDate, "DD/MM/YYYY");
                $('#LeaveHandleVM_CurDate').val(curDate);

                $("button[id='DetailVM_approve']").show();
                $("button[id='DetailVM_reject']").show();
            }

            // handle workshift label
            var workShiftName = 'All Day';
            var workShift = result['workShift'];
            if (workShift == '1') { workShiftName = 'Morning' }
            else if (workShift == '2') { workShiftName = 'Afternoon' }

            // assign value to elements
            $("label[id='DetailVM_state']").html(statusName);
            $("input[id='DetailVM_workShift']").val(workShiftName);

            $("label[id='DetailVM_state']").removeClass();
            $("label[id='DetailVM_state']").addClass(statusClass);

            var curDate = $('#lblCurDate').html();
            //var formattedDate = moment(curDate, "DD/MM/YYYY");
            $('#LeaveHandleVM_CurDate').val(curDate);
        }
    </script>

    <script>
        $(document).ready(function () {
            var curMonth = '@ViewData["curMonth"]';
            $('#lblCurMonth').html(curMonth);
        });

        $(document).ready(function () {
            $('#previousMonth').click(function () {
                var curMonth = $('#lblCurMonth').html();
                var previousMonth = moment(curMonth, "MM/YYYY");
                previousMonth.add(-1, 'month');

                GetTimeSheetManagerOfMonth(previousMonth.format('MM-DD-YYYY'));
            });
        });

        $(document).ready(function () {
            $('#nextMonth').click(function () {
                var curMonth = $('#lblCurMonth').html();
                var nextMonth = moment(curMonth, "MM/YYYY");
                nextMonth.add(1, 'month');

                GetTimeSheetManagerOfMonth(nextMonth.format('MM-DD-YYYY'));
            });
        });

        function GetTimeSheetManagerOfDate(data) {
            var targetUrl = '@Url.Action("GetTimesheetManager","Manage")?date=' + data;
            window.location.href = targetUrl;
        }

         function GetTimeSheetManagerOfMonth(data) {
            var targetUrl = '@Url.Action("GetSummaryTimesheet", "Manage")?date=' + data;
            window.location.href = targetUrl;
        }

        $(document).ready(function () {
            $('#btnThisMonth').click(function () {
                GetTimeSheetManagerOfMonth("");
            });
        });
    </script>

    <script>
        sessionStorage["curPage"] = "SummaryTimesheetManager";
    </script>

    <!--DatePicker-->
    <script>
        $(document).ready(function () {
            $('.datepickerMod').datepicker({
                minViewMode: 1,
                format: 'mm/yyyy'
            });
        });

        $('#curDate').datepicker().on('changeDate', function (e) {
            var curDate = e.format(0, "mm/dd/yyyy")
            GetTimeSheetManagerOfMonth(curDate);
        });

    </script>

    <!--DataTable-->
    <script>
        $(document).ready(function () {
            $('#MainTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });

            // prevent 'onclick' handler for checkbox
            $('#MainTable tr').find('input[name="subCheckbox"]').on('click', function (e) {
                //e.preventDefault();
                e.stopPropagation();
            });

            $('#MainTable tbody').on('click', 'tr', function (event) {
                var leaveId = $(this).closest('tr').find('td:last').html().toString();
                var targetUrl = '@Url.Action("GetLeaveDetailForManager", "Manage")?leaveId=' + leaveId;
                $.ajax({
                    url: targetUrl,
                    type: "GET",
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (result != null){
                            SetUpElements(result);
                            $('#DetailMD').modal('show');
                        } else {
                            alert('Something went wrong, please refresh the page');
                        }
                    },
                    error: function () {
                        alert('Fail to connect to server, please contact IT department for support');
                    }
                });
            });
        });
    </script>
}

<section class="content-header">
    <div class="row">
        <div class="col-sm-6">
            <h1>SUMMARY TIMESHEET MANAGER</h1>
        </div>
        <div class="col-sm-6">
            <h1>
                <span class="pull-right">
                   
                </span>
            </h1>
        </div>
    </div>
    <div>
        <div class="col-sm-6">
            <div class="row">
                <div class="pull-left"><h3><label class="label label-info" id="lblCurMonth" style="text-align:center"></label></h3></div>
                <div class="pull-left"><h3><button class="btn btn-primary ion-android-calendar datepicker" id="curDate" type="button" /></h3></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="pull-right"><h3><button id="nextMonth" title="Next day" class="btn btn-default ion-ios-arrow-forward"></button></h3></div>
                <div class="pull-right"><h3><button id="btnThisMonth" class="btn btn-default">This month</button></h3></div>
                <div class="pull-right"><h3><button id="previousMonth" title="Previous day" class="btn btn-default ion-ios-arrow-back"></button></h3></div>
            </div>
        </div>
    </div>
    <form hidden role="form" id="HandleMultipleRequests" method="post" asp-controller="Manage" asp-action="HandleMultipleRequests">
        <input hidden asp-for="LeaveHandleVM_Multiple.CurDate" />
    </form>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body">
                    <table id="MainTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.UserName)</th>
                                <th>@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.LeaveType)</th>
                                <th>@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.WorkShift)</th>
                                <th>@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.FromDate)</th>
                                <th>@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.ToDate)</th>
                                <th class="table_align_center">@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.State)</th>
                               
                                <th name="LeaveID" hidden></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model.LeaveVM)
                                {
                                    <tr>
                                        <td>@i.ToString()</td>
                                        <td>@Html.DisplayFor(m => item.UserName)</td>
                                        <td>@Html.DisplayFor(m => item.LeaveType)</td>
                                        <td>@Html.DisplayFor(m => item.WorkShift)</td>
                                        <td>@Html.DisplayFor(m => item.FromDate)</td>
                                        <td>@Html.DisplayFor(m => item.ToDate)</td>
                                        @if (item.State == TSM.Data.Models.Leave.eState.OnQueue)
                                        {
                                            <td class="table_align_center"><label class="label label-warning">&nbsp;&nbsp;Waiting&nbsp;</label></td>
                                        }
                                        else
                                        {
                                            if (item.State == TSM.Data.Models.Leave.eState.Approved)
                                            {
                                                <td class="table_align_center"><label class="label label-success">Approved</label></td>
                                            }
                                            else
                                            {
                                                <td class="table_align_center"><label class="label label-danger">Rejected</label></td>
                                            }
                                        }
                                        <td hidden>@item.LeaveID</td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Detail pop-up -->
    <div class="modal fade" id="DetailMD" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row col-sm-12">
                        <div class="col-sm-6"><h3 class="modal-title" id="lineModalLabel"><label>Leave Details</label></h3></div>
                        <div class="col-sm-6"><h3 class="modal-title" id="lineModalLabel"><label id="DetailVM_state"></label></h3></div>
                    </div>
                </div>
                <div class="modal-body">
                    <!-- content goes here -->
                    <form role="form" id="HandleSingleRequest" method="post" asp-controller="Manage" asp-action="HandleSingleRequest">
                        <input hidden asp-for="LeaveHandleVM.LeaveID" />
                        <input hidden asp-for="LeaveHandleVM.Result" />
                        <input hidden asp-for="LeaveHandleVM.CurDate" />

                        <div class="row form-group">
                            <div class="col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.UserName)
                                <div>
                                    <input disabled class="form-control text_align_center" type="text" id="DetailVM_employeeName">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.LeaveType)
                                <div>
                                    <input disabled class="form-control text_align_center" type="text" id="DetailVM_leaveType">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Leave Date</label>
                            <div class="input-group">
                                <input disabled type="text" class="form-control text_align_center" id="DetailVM_fromDate">
                                <div class="input-group-addon">to</div>
                                <input disabled type="text" class="form-control text_align_center" id="DetailVM_toDate">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.SubmittedDate)
                                <div><input disabled class="form-control text_align_center" type="text" id="DetailVM_submittedDate"></div>
                            </div>
                            <div class="col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.WorkShift)
                                <div><input disabled class="form-control text_align_center" type="text" id="DetailVM_workShift"></div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.Approver)
                                <div><input disabled class="form-control text_align_center" type="text" id="DetailVM_Approver"></div>
                            </div>
                            <div class="col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.ApprovedDate)
                                <div><input disabled class="form-control text_align_center" type="text" id="DetailVM_approvedDate"></div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-4">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.NAnnualLeave)
                                <div><input disabled class="form-control text_align_center" type="text" id="DetailVM_AnnualLeave"></div>
                            </div>
                            <div class="col-sm-4">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.NSickLeave)
                                <div><input disabled class="form-control text_align_center" type="text" id="DetailVM_SickLeave"></div>
                            </div>
                            <div class="col-sm-4">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.NOtherLeave)
                                <div><input disabled class="form-control text_align_center" type="text" id="DetailVM_OtherLeave"></div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-12">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.Note)
                                <div disabled id="DetailVM_note"><</div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

