@using TSM.Data.ModelViews
@using TSM.DataAccess
@using TSM.Services

@model LeaveWrapper

@await Component.InvokeAsync("NToastNotify.Toastr")
@inject LeaveManager _leaveManager

@{
    ViewData["Title"] = "Timesheet Manager";
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}

@section Customcss{
    <link href="~/DatePicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/toastr-master/toastr.css" rel="stylesheet" />

    <style>
        .table {
            text-align: left;
        }

        .table_align_center{
            text-align : center;
        }

        .boxsizingBorder {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        form {
            margin-right: 10px;
            margin-left: 10px;
        }
        .input_displayOnly {
            text-align: center;
            margin-left: 50px;
            /*border-radius: 10px;
           border: 2px solid #ff00bf;
            padding: 5px;*/
        }
    </style>
}

@section jvscript{
    <script src="~/DatePicker/js/bootstrap-datepicker.js"></script>
    <script src="~/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/toastr-master/toastr.min.js"></script>
    <script src="~/momentjs/moment.js"></script>
    <script>
        $(document).ready(function () {
            var curDate = '@ViewData["curDate"]';
            $('#lblCurDate').html(curDate);
            
        });

        $(document).ready(function () {
            $('#previousDate').click(function () {
                var curDate = $('#lblCurDate').html();
                var previousDate = moment(curDate, "DD/MM/YYYY");
                previousDate.add(-1, 'day');

                GetTimeSheetManagerOfDate(previousDate.format('MM-DD-YYYY'));
            });
        });
        

        $(document).ready(function () {
            $('#nextDate').click(function () {
                var curDate = $('#lblCurDate').html();
                var nextDate = moment(curDate, "DD/MM/YYYY");
                nextDate.add(1, 'day');

                GetTimeSheetManagerOfDate(nextDate.format('MM-DD-YYYY'));
            });
        });

        function GetTimeSheetManagerOfDate(data) {
            var targetUrl = '@Url.Action("GetTimesheetManager","Manage")?date=' + data;
            window.location.href = targetUrl;
        }

        $(document).ready(function () {
            $('#btnToDay').click(function () {
                GetTimeSheetManagerOfDate("");
            });
        });
    </script>

    <!--DatePicker-->
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd-mm-yyyy',
            });
        });

        $('#curDate').datepicker().on('changeDate', function (e) {
            var curDate = e.format(0, "mm/dd/yyyy")
            GetTimeSheetManagerOfDate(curDate);
        });
       
    </script>

    <!--DataTable-->
    <script>
        $(document).ready(function () {
            $('#MainTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });

            // prevent 'onclick' handler for checkbox
            $('#MainTable tr').find('input[name="subCheckbox"]').on('click', function (e) {
                //e.preventDefault();
                e.stopPropagation();
            });

            $('#MainTable tbody').on('click', 'tr', function (event) {
                var leaveId = $(this).closest('tr').find('td:last').html().toString();
                $('#LeaveHandleVM_LeaveID').val(leaveId);

                var targetUrl = '@Url.Action("GetLeaveDetailForManager", "Manage")?leaveId=' + leaveId;
                $.ajax({
                    url: targetUrl,
                    type: "GET",
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (result != null)
                        {
                            $('#DetailVM_leaveID').val(result['leaveID']);
                            $("input[id='DetailVM_employeeName']").val(result['userName']);
                            $("input[id='DetailVM_submittedDate']").val(result['submittedDate']);
                            $("input[id='DetailVM_fromDate']").val(result['fromDate']);
                            $("input[id='DetailVM_toDate']").val(result['toDate']);
                            $("input[id='DetailVM_leaveType']").val(result['leaveType']);
                            $("input[id='DetailVM_approvedDate']").val(result['approvedDate']);
                            $("input[id='DetailVM_Approver']").val(result['approver']);
                            $("text[id='DetailVM_note']").html(result['note']);

                            // handle Leave data
                            var defaulAnnualLeave = result['defaultAnnualLeave'];
                            var nAnnualLeave = result['nAnnualLeave'];
                            var defaulSickLeave = result['defaultSickLeave'];
                            var nSickLeave = result['nSickLeave'];
                            var otherLeave = result['nOtherLeave'];
                        
                            $("input[id='DetailVM_AnnualLeave']").val(nAnnualLeave + "/" + defaulAnnualLeave);
                            $("input[id='DetailVM_SickLeave']").val(nSickLeave + "/" + defaulSickLeave);
                            $("input[id='DetailVM_OtherLeave']").val(otherLeave);

                            // handle State label
                            var statusClass = '';
                            var statusName = '';

                            var state = result['state'];
                            if (state != '2')
                            {
                                if (state == '0')
                                {
                                    statusClass = 'label label-success ion-checkmark-round'
                                    statusName = ' Approved';
                                }
                                else
                                {
                                    statusClass = 'label label-danger ion-close-round'
                                    statusName = ' Rejected';
                                }

                                $("button[id='DetailVM_approve']").hide();
                                $("button[id='DetailVM_reject']").hide();
                            }
                            else
                            {
                                statusClass = 'label label-warning ion-load-a';
                                statusName = ' Waiting';

                                // show button
                                $("button[id='DetailVM_approve']").show();
                                $("button[id='DetailVM_reject']").show();
                            }

                            // handle workshift label
                            var workShiftName = 'All Day';
                            var workShift = result['workShift'];
                            if (workShift == '1')
                                 {workShiftName = 'Morning'}
                            else if (workShift == '2')
                                 {workShiftName = 'Afternoon'}

                            // assign value to elements
                            $("label[id='DetailVM_state']").html(statusName);
                            $("input[id='DetailVM_workShift']").val(workShiftName);

                            $("label[id='DetailVM_state']").removeClass();
                            $("label[id='DetailVM_state']").addClass(statusClass);

                            var curDate = $('#curDate').val();
                            //var formattedDate = moment(curDate, "DD/MM/YYYY");
                            $('#LeaveHandleVM_CurDate').val(curDate);

                            $('#DetailMD').modal('show');
                        }
                        else
                        {
                            alert('Something goes wrong, please refresh the page');
                        }
                    },
                    error: function () {
                        alert('Fail to connect to server, please contact IT department for support');
                    }
                });
            });
        });
    </script>

    <!--Handle Single Request-->
    <script>
        function HandleSingleRequest(result) {
            $('input[id="LeaveHandleVM_Result"]').val(result);
            $("#HandleSingleRequest").submit();
        };
    </script>

    <!--Checkbox - Check All-->
    <script>
        //$('#cbCheckAll').click(function () {
        //    if ($('#cbCheckAll-table').is(':checked')) {
        //        $('input[name="subCheckbox"]').prop('checked', true);
        //    }
        //    else {
        //        $('input[name="subCheckbox"]').prop('checked', false);
        //    }
        //});

        $("#cbCheckAll").click(function () {
            $('#MainTable tbody input[type="checkbox"]').prop('checked', this.checked);
        });
    </script>

    <!--handle Multiple request  -->
    <script>
        $(document).ready(function () {
            $('#btnApproveAll').click(function () {
                $('#MainTable tbody tr').each(function () {
                    var leaveId = $(this).closest('tr').find('td:last').html().toString();
                    var str = '<input hidden type="text" name="LeaveHandleVM_Multiple.LeaveID" value="' + leaveId + '" />';

                    $('#HandleMultipleRequests').append(str);
                });

                var result = 'Approved';
                var str2 = '<input hidden type="text" name="LeaveHandleVM_Multiple.Result" value="' + result + '" />';
                $('#HandleMultipleRequests').append(str2);

                var curDate = $('#curDate').val();
               // var formattedDate = moment(curDate, "DD/MM/YYYY");
                $('#LeaveHandleVM_Multiple_CurDate').val(curDate);
               
                $('#HandleMultipleRequests').submit();
            });


            $('#btnApproveChecked').click(function () {
                $('#MainTable tbody tr').find('input:checkbox:checked').each(function () {
                    var leaveId = $(this).closest('tr').find('td:last').html().toString();

                    var str = '<input hidden type="text" name="LeaveHandleVM_Multiple.LeaveID" value="' + leaveId + '" />';

                    $('#HandleMultipleRequests').append(str);
                });

                var result = 'Approved';
                var str2 = '<input hidden type="text" name="LeaveHandleVM_Multiple.Result" value="' + result + '" />';
                $('#HandleMultipleRequests').append(str2);

                var curDate = $('#curDate').val();
                //var formattedDate = moment(curDate, "DD/MM/YYYY");
                $('#LeaveHandleVM_Multiple_CurDate').val(curDate);

                $('#HandleMultipleRequests').submit();
            });

            $('#btnRejectChecked').click(function () {
                $('#MainTable tbody tr').find('input:checkbox:checked').each(function () {
                    var leaveId = $(this).closest('tr').find('td:last').html().toString();

                    var str = '<input hidden type="text" name="LeaveHandleVM_Multiple.LeaveID" value="' + leaveId + '" />';

                    $('#HandleMultipleRequests').append(str);
                });

                var result = 'Rejected';
                var str2 = '<input hidden type="text" name="LeaveHandleVM_Multiple.Result" value="' + result + '" />';
                $('#HandleMultipleRequests').append(str2);

                var curDate = $('#curDate').val();
             //   var formattedDate = moment(curDate, "DD/MM/YYYY");
                $('#LeaveHandleVM_Multiple_CurDate').val(curDate);

                $('#HandleMultipleRequests').submit();
            });
        });
    </script>
}

<section class="content-header">
    <div class="row">
        <div class="col-sm-6">
            <h1>TIMESHEET MANAGER</h1>
        </div>
        <div class="col-sm-6">
            <h1>
                <span class="pull-right">
                    <button id="btnApproveAll" data-toggle="modal" type="button" class="btn btn-success ion-android-done-all"> Approve All</button>
                    <button id="btnApproveChecked" data-toggle="modal" type="button" class="btn btn-bitbucket ion-android-checkbox-outline"> Approve Checked</button>
                    <button id="btnRejectChecked" data-toggle="modal" type="button" class="btn btn-danger ion-android-close"> Reject Checked</button>
                </span>
            </h1>
        </div>
    </div>
    <div>
        <div class="col-sm-6">
            <div class="row">
                <div class="pull-left"><h3><label class="label label-info" id="lblCurDate" style="text-align:center"></label></h3></div>
                <div class="pull-left"><h3><button class="btn btn-primary ion-android-calendar datepicker" id="curDate" type="button" /></h3></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="pull-right"><h3><button id="nextDate" title="Next day" class="btn btn-default ion-ios-arrow-forward"></button></h3></div>
                <div class="pull-right"><h3><button id="btnToDay" class="btn btn-default">Today</button></h3></div>
                <div class="pull-right"><h3><button id="previousDate" title="Previous day" class="btn btn-default ion-ios-arrow-back"></button></h3></div>
            </div>
        </div>
    </div>
    <form hidden role="form" id="HandleMultipleRequests" method="post" asp-controller="Manage" asp-action="HandleMultipleRequests">
        <input hidden asp-for="LeaveHandleVM_Multiple.CurDate" />
    </form>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body">
                    <table id="MainTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.UserName)</th>
                                <th>@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.LeaveType)</th>
                                <th>@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.WorkShift)</th>
                                <th>@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.FromDate)</th>
                                <th>@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.ToDate)</th>
                                <th class="table_align_center">@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.State)</th>
                                <th class="nosort table_align_center"><input id="cbCheckAll" type="checkbox" /></th>
                                <th name="LeaveID" hidden></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model.LeaveVM)
                                {
                                    <tr>
                                        <td>@i.ToString()</td>
                                        <td>@Html.DisplayFor(m => item.UserName)</td>
                                        <td>@Html.DisplayFor(m => item.LeaveType)</td>
                                        <td>@Html.DisplayFor(m => item.WorkShift)</td>
                                        <td>@Html.DisplayFor(m => item.FromDate)</td>
                                        <td>@Html.DisplayFor(m => item.ToDate)</td>
                                        @if (item.State == TSM.Data.Models.Leave.eState.OnQueue)
                                        {
                                            <td class="table_align_center"><label class="label label-warning">&nbsp;&nbsp;Waiting&nbsp;</label></td>
                                            <td align="center"><input type="checkbox" id="subCheckbox" name="subCheckbox"></td>
                                        }
                                        else
                                        {
                                            if (item.State == TSM.Data.Models.Leave.eState.Approved)
                                            {
                                                <td class="table_align_center"><label class="label label-success">Approved</label></td>
                                            }
                                            else
                                            {
                                                <td class="table_align_center"><label class="label label-danger">Rejected</label></td>
                                            }
                                            <td></td>
                                        }
                                        <td hidden>@item.LeaveID</td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Detail pop-up -->
    <div class="modal fade" id="DetailMD" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <div class="col-sm-6">
                            <h3>Leave Details</h3>
                        </div>
                        <div class="col-sm-6 pull-right">
                            <h3><label id="DetailVM_state"></label></h3>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form role="form" id="HandleSingleRequest" method="post" asp-controller="Manage" asp-action="HandleSingleRequest">
                        <input hidden asp-for="LeaveHandleVM.LeaveID" />
                        <input hidden asp-for="LeaveHandleVM.Result" />
                        <input hidden asp-for="LeaveHandleVM.CurDate"/>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.UserName)
                                <div>
                                    <input class="input_displayOnly" readonly disabled type="text" id="DetailVM_employeeName">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.LeaveType)
                                <div>
                                    <input class="input_displayOnly" readonly disabled type="text"  id="DetailVM_leaveType">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.FromDate)
                                <div>
                                    <input class="input_displayOnly" readonly disabled type="text" id="DetailVM_fromDate">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.ToDate)
                                <div>
                                    <input class="input_displayOnly" readonly disabled type="text" id="DetailVM_toDate">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.SubmittedDate)
                                <div>
                                    <input class="input_displayOnly" readonly disabled type="text" id="DetailVM_submittedDate">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.WorkShift)
                                <div>
                                    <input class="input_displayOnly" readonly disabled type="text" id="DetailVM_workShift">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.Approver)
                                <div>
                                    <input class="input_displayOnly" readonly disabled type="text" id="DetailVM_Approver">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.ApprovedDate)
                                <div>
                                    <input class="input_displayOnly" readonly disabled type="text" id="DetailVM_approvedDate">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.NAnnualLeave)
                                <div>
                                    <input class="input_displayOnly" readonly disabled type="text" id="DetailVM_AnnualLeave">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.NSickLeave)
                                <div>
                                    <input class="input_displayOnly" readonly disabled type="text" id="DetailVM_SickLeave">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.NOtherLeave)
                                <div>
                                    <input class="input_displayOnly" readonly disabled type="text" id="DetailVM_OtherLeave">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                @Html.LabelFor(Model => Model.LeaveVMForDisplay.Note)
                                <div><text id="DetailVM_note"></text></div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button id="DetailVM_approve" onclick="HandleSingleRequest('Approved')" type="button" class="btn btn-success">&nbsp;Approve</button>
                                <button id="DetailVM_reject" onclick="HandleSingleRequest('Rejected')" type="button" class="btn btn-danger">&nbsp;Reject&nbsp;</button>
                            </div>
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




