@using TSM.Data.ModelViews
@using TSM.DataAccess
@using TSM.Services

@model LeaveWrapper

@inject LeaveManager _leaveManager

@{
    ViewData["Title"] = "TimeSheet Manager";
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}
@section Customcss{
    <link href="~/DatePicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

    <style>
        .table {
            text-align: center
        }

        .horizontal {
            display: inline;
            border-left: 2px solid;
            padding-left: 0.3em;
        }

        #cke_editor1 {
            width: 550px;
            margin-left: -73px;
        }

        .cke_inner cke_reset {
            width: 585px;
        }

        .center {
            margin-top: 50px;
        }

        .boxsizingBorder {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .cus_left {
            margin-left: 50px;
        }

        .textarea {
            white-space: normal;
            text-align: justify;
        }
    </style>
}

@section jvscript{
    <script src="~/DatePicker/js/bootstrap-datepicker.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>

    <!--DatePicker-->
    <script>
        var curDate = new Date();
        curDate.setDate(curDate.getDate() - 1);

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                format: 'dd/mm/yyyy',
                startDate: curDate
            });
        });
    </script>

    <!--DataTable-->
    <script>
        $(document).ready(function () {
            $('#MainTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });

            $('#MainTable tbody').on('click', 'tr', function () {
                var leaveId = $(this).closest('tr').find('td:last').html().toString();
                $('#LeaveHandleVM_LeaveID').val(leaveId);

                var targetUrl = '@Url.Action("GetLeaveDetail", "Manage")?leaveId=' + leaveId;
                $.ajax({
                    url: targetUrl,
                    type: "GET",
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (result != null)
                        {
                            var leaveId = result['leaveID'];
                            var employeeName = result['userName'];
                            var submittedDate = result['submittedDate'];
                            var fromDate = result['fromDate'];
                            var ToDate = result['toDate'];
                            var leaveType = result['leaveType'];
                            var workShift = result['workShift'];
                            var approvedDate = result['approvedDate'];
                            var note = result['note'];
                            var state = result['state'];

                            $('#DetailVM_leaveID').val(leaveId);
                            $("label[id='DetailVM_employeeName']").html(employeeName);
                            $("label[id='DetailVM_submittedDate']").html(submittedDate);
                            $("label[id='DetailVM_fromDate']").html(fromDate);
                            $("label[id='DetailVM_toDate']").html(ToDate);
                            $("label[id='DetailVM_leaveType']").html(leaveType);
                            $("label[id='DetailVM_approvedDate']").html(approvedDate);
                            $("text[id='DetailVM_note']").html(note);

                            var statusClass = '';
                            var statusName = '';
                            if (state != '2')
                            {
                                if (state == '0')
                                {
                                    statusClass = 'label label-success'
                                    statusName = 'Approved';
                                }
                                else
                                {
                                    statusClass = 'label label-danger'
                                    statusName = 'Rejected';
                                }
                                $("button[id='DetailVM_approve']").hide();
                                $("button[id='DetailVM_reject']").hide();
                            }
                            else
                            {
                                statusClass = 'label label-warning';
                                statusName = 'Waiting';

                                $("button[id='DetailVM_approve']").show();
                                $("button[id='DetailVM_reject']").show();
                            }

                            var workShiftName = 'All Day';
                            if (workShift == '1') { workShiftName = 'Morning'}
                            else if (workShift == '2') { workShiftName = 'Afternoon'}

                            $("label[id='DetailVM_state']").html(statusName);
                            $("label[id='DetailVM_workShift']").html(workShiftName);
                            $("label[id='DetailVM_state']").addClass(statusClass);

                            $('#DetailVM_note').val(note);
                            $('#DetailMD').modal('show');
                        }
                        else
                        {
                            alert('Something goes wrong, please refresh the page');
                        }
                    },
                    error: function () {
                        alert('Fail to connect to server, please contact IT department for support');
                    }
                });
            });
        });
    </script>

   
    <script>
        CKEDITOR.replace('LeaveFormVM.Note');
    </script>

}

<section class="content-header">
    <h1>
        TIMESHEET MANAGER
        <button data-toggle="modal" data-target="#SubmitLeaveFormMD" type="button" class="btn btn-primary ion-plus-round"> New Request</button>
    </h1>

    <form hidden role="form" id="HandleMultipleRequests" method="post" asp-controller="Manage" asp-action="HandleMultipleRequests"></form>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Leave Of Absent</h3>
                </div>
                <div class="box-body">
                    <table id="MainTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Employees</th>
                                <th>Leave Type</th>
                                <th>WorkShift</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>State</th>
                                <th name="LeaveID" hidden>LeaveID</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model.LeaveVM)
                                {
                                    <tr>
                                        <td>@i.ToString()</td>
                                        <td>@item.UserName</td>
                                        <td>@item.LeaveType</td>
                                        <td>@item.WorkShift </td>
                                        <td>@item.FromDate</td>
                                        <td>@item.ToDate</td>
                                        @if (item.State == TSM.Data.Models.Leave.eState.OnQueue)
                                        {
                                            <td><label class="label label-warning">&nbsp;&nbsp;Waiting&nbsp;</label></td>
                                        }
                                        else
                                        {
                                            if (item.State == TSM.Data.Models.Leave.eState.Approved)
                                            {
                                                <td><label class="label label-success">Approved</label></td>
                                            }
                                            else
                                            {
                                                <td><label class="label label-danger">Rejected</label></td>
                                            }
                                        }
                                        <td hidden>@item.LeaveID</td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Add new request pop-up -->
    <div class="modal fade" id="SubmitLeaveFormMD" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel"><strong>Leave of absence form</strong></h4>
                </div>
                <form role="form" id="SubmitLeaveForm" method="post" asp-controller="Manage" asp-action="LeaveSubmit">
                    <div class="box-body" style="padding-left:100px">
                        <label style="margin-left:-73px">Leave day </label>
                        <div class="input-group input-daterange" id="datepicker" style="width:550px; padding-bottom:10px; margin-left:-73px">
                            <input asp-for="LeaveFormVM.FromDate" type="text" class="form-control">
                            <div class="input-group-addon">to</div>
                            <input asp-for="LeaveFormVM.ToDate" type="text" class="form-control">
                            <span asp-validation-for="LeaveFormVM.FromDate" class="text-danger" />
                            <span asp-validation-for="LeaveFormVM.ToDate" class="text-danger" />
                        </div>

                        <div class="form-group" style="float:left; margin-right:50px; width:150px; margin-left:-73px; width:225px">
                            <label asp-for="LeaveFormVM.WorkShift" style="margin-left:1px"></label>
                            <div>
                                <select asp-for="LeaveFormVM.WorkShift" id="selectbasic" class="form-control" style="width:252px">
                                    <option value="0">All day</option>
                                    <option value="1">AM</option>
                                    <option value="2">PM</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group" style="margin-left:20px; width:225px; float:left">
                            <label asp-for="LeaveFormVM.LeaveTypeID" style="margin-left:1px"></label>
                            <div>
                                <select asp-for="LeaveFormVM.LeaveTypeID" id="selectbasic" class="form-control" style="width:252px">
                                    @{
                                        foreach (var type in await _leaveManager.GetLeaveTypeAsync())
                                        {
                                            <option value="@type.ID">@type.LeaveName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group" style="clear:left; margin-left:-73px">
                            <label style="margin-left:1px">CC</label>
                            <div style="width:408px; width:550px">
                                <input type="text" class="form-control">
                                <span class="text-danger" />
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <textarea asp-for="LeaveFormVM.Note"></textarea>
                        </div>

                        <div class="form-group" style="clear:both; margin-left:337px">
                            <label></label>
                            <div>
                                <input style="margin-top:-23px; margin-left:75px" class="btn btn-primary" value="Submit" type="submit" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Detail pop-up -->
    <div class="modal fade" id="DetailMD" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h3 class="modal-title">Leave Details</h3>
                </div>
                <div class="modal-body col-sm-12">
                    <form role="form" id="HandleSingleRequest" method="post" asp-controller="Manage" asp-action="HandleSingleRequest">
                        <input hidden asp-for="LeaveHandleVM.LeaveID" />
                        <input hidden asp-for="LeaveHandleVM.Result" />
                        <div>
                            <div class="form-group col-sm-6">
                                <label>Employee Name</label>
                                <div class="cus_left"><label id="DetailVM_employeeName"></label></div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label>State</label>
                                <div class="cus_left"><label id="DetailVM_state"></label></div>
                            </div>
                        </div>

                        <div>
                            <div class="form-group col-sm-6">
                                <label>From Date</label>
                                <div class="cus_left"><label id="DetailVM_fromDate"></label></div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>To Date</label>
                                <div class="cus_left"><label id="DetailVM_toDate"></label></div>
                            </div>
                        </div>

                        <div>
                            <div class="form-group col-sm-6">
                                <label>LeaveType</label>
                                <div class="cus_left"><label id="DetailVM_leaveType"></label></div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label>WorkShift</label>
                                <div class="cus_left"><label id="DetailVM_workShift"></label></div>
                            </div>
                        </div>

                        <div>
                            <div class="form-group col-sm-6">
                                <label>Submitted Date</label>
                                <div class="cus_left"><label id="DetailVM_submittedDate"></label></div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Approved/Rejected Date</label>
                                <div class="cus_left"><label id="DetailVM_approvedDate"></label></div>
                            </div>
                        </div>

                        <div>
                            <div class="form-group col-sm-6">
                                <label>Approver</label>
                                <div class="cus_left"><label>Coming soon</label></div>
                            </div>
                            <div class="form-group col-sm-6">

                            </div>
                        </div>
                        <div>
                            <div class="form-group col-sm-12">
                                <label>Note</label>
                                <div class="cus_leftai"><text id="DetailVM_note" class="codec-"></text></div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="col-sm-12">
                            <button  type="button" class="btn btn-primary">&nbsp;Edit</button>
                            <button  type="button" class="btn btn-danger">&nbsp;Delete&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
