@using TSM.Data.ModelViews
@using TSM.DataAccess
@using TSM.Services

@model LeaveWrapper

@inject LeaveManager _leaveManager
@inject UserManager<ApplicationUser> _userManager;
@await Component.InvokeAsync("NToastNotify.Toastr")

@{
    ViewData["Title"] = "Personal Timesheet";
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}
@section Customcss{
    <link href="~/DatePicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/select2-master/dist/css/select2.css" rel="stylesheet" />
    <link href="~/toastr-master/toastr.css" rel="stylesheet" />
    <link href="~/bootstrap-tagsinput-master/src/bootstrap-tagsinput.css" rel="stylesheet" />
    
    <style>
        .table_align_center {
            text-align: center;
        }

        .table{
            text-align: left;
        }

        .horizontal {
            display: inline;
            border-left: 2px solid;
            padding-left: 0.3em;
        }

        #cke_editor1 {
            width: 550px;
            margin-left: -73px;
        }

        .cke_inner cke_reset {
            width: 585px;
        }

        .center {
            margin-top: 50px;
        }

        .boxsizingBorder {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .textarea {
            white-space: normal;
            text-align: justify;
        }

        form {
            margin-right: 10px;
            margin-left: 10px;
        }

        .text_align_center {
            text-align: center;
        }
    </style>
}

@section jvscript{
    <script src="~/DatePicker/js/bootstrap-datepicker.js"></script>
    <script src="~/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
    <script src="~/jquery-validation-unobtrusive-master/dist/jquery.validate.unobtrusive.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/select2-master/dist/js/select2.js"></script>
    <script src="~/toastr-master/toastr.min.js"></script>
    <script src="~/Bootstrap-3-Typeahead-master/bootstrap3-typeahead.js"></script>
    <script src="~/bootstrap-tagsinput-master/src/bootstrap-tagsinput.js"></script>
    <!--DatePicker setup-->
    <script>
        var curDate = new Date();
        $(document).ready(function () {
            $('.input-daterange').datepicker({
                format: 'dd/mm/yyyy',
                startDate: curDate
            });
        });
    </script>

    <!--DataTable row click-->
    <script>
        $(document).ready(function () {
            $('#MainTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
			});

			$('#Deletebtn').click(function () {
				$('#DeleteForm').submit();
            });

            $('#MainTable tbody').on('click', 'tr', function (event) {
                var leaveId = $(this).closest('tr').find('td:last').html().toString();
                //$('#LeaveHandleVM_LeaveID').val(leaveId);
                //$('#txtLeaveId').val(leaveId);

                var targetUrl = '@Url.Action("GetLeaveDetail", "Manage")?leaveId=' + leaveId;
                $.ajax({
                    url: targetUrl,
                    type: "GET",
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (result != null) {
                            var state = result['state'];

                            $('#EditLeaveFormMD').find('[name="LeaveFormVM.ID"]').val(leaveId);
                            $('#EditLeaveFormMD').find('[name="LeaveFormVM.FromDate"]').val(result['fromDate']).prop("disabled", true);
                            $('#EditLeaveFormMD').find('[name="LeaveFormVM.ToDate"]').val(result['toDate']).prop("disabled", true);
                            $('#EditLeaveFormMD').find('[name="LeaveFormVM.LeaveTypeID"]').val(result['leaveType']).change().prop("disabled", true);
                            $('#EditLeaveFormMD').find('[name="LeaveFormVM.WorkShift"]').val(result['workShift']).prop("disabled", true);
                            CKEDITOR.instances['ckeditor_Edit'].setReadOnly(true);
                            CKEDITOR.instances['ckeditor_Edit'].setData(result['note']);
                            $('#lblEditPopupHeader').html("Leave Details");

                            if (state == '2') {
                                $('#ApprovingInfo').hide();
                                $('#btnEdit').show();
                                $('#btnSubmit').hide();
                                $('#btnDelete').show();

                            }
                            else {
                                $('#EditLeaveFormMD').find('[name="ApproverDetail"]').val(result['approver']);
                                $('#EditLeaveFormMD').find('[name="ResultDetail"]').val(result['approvedDate']);
                                $('#ApprovingInfo').show();
                                $('#btnEdit').hide();
                                $('#btnSubmit').hide();
                                $('#btnDelete').hide();
                            }

                            $('#EditLeaveFormMD').modal('show');
                        }
                        else {
                            alert('Something goes wrong, please refresh the page');
                        }
                    },
                    error: function () {
                        alert('Fail to connect to server, please contact IT department for support');
                    }
                });
            });
        });
    </script>

    <script>
        $('#btnEdit').click(function () {
            $('#EditLeaveFormMD').find('[name="LeaveFormVM.FromDate"]').prop("disabled", false);
            $('#EditLeaveFormMD').find('[name="LeaveFormVM.ToDate"]').prop("disabled", false);
            $('#EditLeaveFormMD').find('[name="LeaveFormVM.LeaveTypeID"]').prop("disabled", false);
            $('#EditLeaveFormMD').find('[name="LeaveFormVM.WorkShift"]').prop("disabled", false);
            $('#EditLeaveFormMD').find('[name="LeaveFormVM.Note"]').prop("disabled", false);
            CKEDITOR.instances['ckeditor_Edit'].setReadOnly(false);
            $('#lblEditPopupHeader').html("Edit Leave");

            $('#btnEdit').hide();
            $('#btnSubmit').show();
            $('#btnDelete').hide();
        });

        $('#btnDelete').click(function () {
            var leaveID = $('#EditLeaveFormMD').find('[name="LeaveFormVM.ID"]').val();
            var targetUrl = '@Url.Action("DeleteLeave", "Manage")?leaveID=' + leaveID;
            window.location.href = targetUrl;
        });
    </script>
    
    <script>
       
    </script>
}
<section class="content-header" style="position:relative">
    <div class="row">
        <div class="col-sm-6">
            <h1>PERSONAL TIMESHEET</h1>
        </div>
        <div class="col-sm-6">
            <h1>
                <span class="pull-right">
                    <button data-toggle="modal" data-target="#SubmitLeaveFormMD" type="button" class="btn btn-primary ion-plus-round"> New Request</button>
                </span>
            </h1>
        </div>
    </div>

</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    @{
                            if (ViewData["userTeam"].ToString() != "")
                            {
                                var team = ViewData["userTeam"].ToString() + " Team";
                            <h3 class="box-title"><strong>@team</strong></h3>
                        }
                    }
                </div>
                <div class="box-body" style="overflow:auto">
                    <table id="MainTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.UserName)</th>
                                <th>@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.LeaveType)</th>
                                <th>@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.WorkShift)</th>
                                <th>@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.FromDate)</th>
                                <th>@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.ToDate)</th>
                                <th class="table_align_center">@Html.DisplayNameFor(Model => Model.LeaveVMForDisplay.State)</th>
                                <th name="LeaveID" hidden>LeaveID</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model.LeaveVM)
                                {
                                    <tr>
                                        <td>@i.ToString()</td>
                                        <td>@Html.DisplayFor(m => item.UserName)</td>
                                        <td>@Html.DisplayFor(m => item.LeaveType)</td>
                                        <td>@Html.DisplayFor(m => item.WorkShift)</td>
                                        <td>@Html.DisplayFor(m => item.FromDate)</td>
                                        <td>@Html.DisplayFor(m => item.ToDate)</td>
                                        @if (item.State == TSM.Data.Models.Leave.eState.OnQueue)
                                        {
                                            <td class="table_align_center"><label class="label label-warning">&nbsp;&nbsp;Waiting&nbsp;</label></td>
                                        }
                                        else
                                        {
                                            if (item.State == TSM.Data.Models.Leave.eState.Approved)
                                            {
                                                <td class="table_align_center"><label class="label label-success">Approved</label></td>
                                            }
                                            else
                                            {
                                                <td class="table_align_center"><label class="label label-danger">Rejected</label></td>
                                            }
                                        }
                                        <td hidden>@item.LeaveID</td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Add new request pop-up -->
    <div class="modal fade" id="SubmitLeaveFormMD" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">Leave of absence submit</h3>
                </div>
                <div class="modal-body">
                    <!-- content goes here -->
                    <form role="form" id="SubmitLeaveForm" method="post" asp-controller="Manage" asp-action="LeaveSubmit">
                        <div class="form-group">
                            <label>Leave Date</label>
                            <div class="input-group input-daterange">
                                <input asp-for="LeaveFormVM.FromDate" type="text" class="form-control">
                                <div class="input-group-addon">to</div>
                                <input asp-for="LeaveFormVM.ToDate" type="text" class="form-control">
                            </div>
                            <div>
                                <span asp-validation-for="LeaveFormVM.FromDate" class="text-danger" />
                                <span asp-validation-for="LeaveFormVM.ToDate" class="text-danger" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-6">
                                <label asp-for="LeaveFormVM.WorkShift"></label>
                                <div>
                                    <select asp-for="LeaveFormVM.WorkShift" class="form-control">
                                        <option value="0">All day</option>
                                        <option value="1">AM</option>
                                        <option value="2">PM</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label asp-for="LeaveFormVM.LeaveTypeID"></label>
                                <div>
                                    <select asp-for="LeaveFormVM.LeaveTypeID" class="form-control">
                                        @{
                                            foreach (var type in await _leaveManager.GetLeaveTypeAsync())
                                            {
                                                <option value="@type.ID">@type.LeaveName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label>CC</label>
                                <div>
                                    <input id="CC" type="text" data-role="tagsinput"  autocomplete="off" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label>Note</label>
                                <textarea class="form-control ckeditor" asp-for="LeaveFormVM.Note"></textarea>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-10"></div>
                            <div class="col-sm-2">
                                <button type="submit" value="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Edit pop-up-->
    <div class="modal fade" id="EditLeaveFormMD" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel"><label id="lblEditPopupHeader"></label></h3>
                </div>
                <div class="modal-body">
                    <!-- content goes here -->
                    <form role="form" id="EditLeaveForm" method="post" asp-controller="Manage" asp-action="EditLeave">
                        <input hidden asp-for="LeaveFormVM.ID" type="text" />
                        <div class="form-group">
                            <label>Leave Date</label>
                            <div class="input-group input-daterange">
                                <input asp-for="LeaveFormVM.FromDate" id="EditFromDate" type="text" class="form-control">
                                <div class="input-group-addon">to</div>
                                <input asp-for="LeaveFormVM.ToDate" type="text" class="form-control">
                            </div>
                            <div>
                                <span asp-validation-for="LeaveFormVM.FromDate" class="text-danger" />
                                <span asp-validation-for="LeaveFormVM.ToDate" class="text-danger" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-6">
                                <label asp-for="LeaveFormVM.WorkShift"></label>
                                <div>
                                    <select asp-for="LeaveFormVM.WorkShift" class="form-control text_align_center">
                                        <option value="0">All day</option>
                                        <option value="1">AM</option>
                                        <option value="2">PM</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label asp-for="LeaveFormVM.LeaveTypeID"></label>
                                <div>
                                    <select asp-for="LeaveFormVM.LeaveTypeID" class="form-control text_align_center">
                                        @{
                                            foreach (var type in await _leaveManager.GetLeaveTypeAsync())
                                            {
                                                <option value="@type.ID">@type.LeaveName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label>CC</label>
                                <div>
                                    <input name="CC" disabled class="form-control" type="text" />
                                </div>
                            </div>
                        </div>

                        <div id="ApprovingInfo" class="row">
                            <div class="col-sm-6">
                                <label>Approver</label>
                                <input name="ApproverDetail" type="text" disabled class="form-control text_align_center" />
                            </div>
                            <div class="col-sm-6">  
                                <label>Approved/Rejected Date</label>
                                <input name="ResultDetail" type="text" disabled class="form-control text_align_center" />
                            </div>
                        </div>
                         
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label>Note</label>
                                <textarea class="form-control ckeditor" id="ckeditor_Edit" name="LeaveFormVM.Note"></textarea>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                <div class="pull-right">
                                    <button type="button" id="btnEdit" class="btn btn-bitbucket ion-ios-compose-outline"> Edit</button>
                                    <button type="submit" id="btnSubmit" class="btn btn-primary ion-android-done"> Submit</button>
                                    <button type="button" id="btnDelete" class="btn btn-danger ion-android-close"> Delete</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
