@using TSM.Data.ModelViews
@using TSM.DataAccess
@using TSM.Services


@model LeaveWrapper

@inject LeaveManager _leaveManager

@{
	ViewData["Title"] = "LoadTable";
	Layout = "~/Views/Shared/CustomLayout.cshtml";
}

@section jvscript{
	<link href="~/DatePicker/css/bootstrap-datepicker.css" rel="stylesheet" />
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.datepicker').datepicker({
				format: 'dd/mm/yyyy',
				autoclose: true,
			});
		});
	</script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Data Tables
		<small>advanced tables</small>
		<button data-toggle="modal" data-target="#SubmitLeaveFormMD" type="button" class="btn btn-sm btn-primary btn-create">Add new submit	</button>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="#">Tables</a></li>
		<li class="active">Data tables</li>
	</ol>
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">

			<!-- /.box -->
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Data Table With Full Features</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table id="example1" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>No.</th>
								<th>User Name</th>
								<th>Approved Date</th>
								<th>Leave Type</th>
								<th>Work Shift</th>
								<th>From Date</th>
								<th>To Date</th>
								<th>Submitted Date</th>
								<th>State</th>
								<th>Actions</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@{
								int i = 1;
								foreach (var item in Model.LeaveVM)
								{
									<tr>
										<td>@i.ToString()</td>
										<td>@item.UserName</td>
										@if (item.State == TSM.Data.Models.Leave.eState.Approved)
										{
											<td>@item.ApprovedDate</td>
										}
										else {<td></td> }

										<td>@item.LeaveType</td>
										<td>@item.WorkShift </td>
										<td>@item.FromDate</td>
										<td>@item.ToDate</td>
										<td>@item.SubmitedDate</td>
										<td>@item.State</td>
										<td>
											<a href="#" class="glyphicon glyphicon-ok">Approve</a>
											<a href="#" class="glyphicon glyphicon-remove">Reject</a>
										</td>
										<td><input type="checkbox" name="checkbox" id="checkbox"></td>
									</tr>
									i++;
								}
							}
							
						</tbody>

					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<!--popup form-->
	<div class="modal fade" id="SubmitLeaveFormMD" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
					<h4 class="modal-title" id="myModalLabel">Leave of absence form</h4>
				</div>
				<form id="SubmitLeaveForm" method="post" asp-controller="Manage" asp-action="LeaveSubmit" class="form-horizontal" role="form">

					<div class="form-group">
						<label asp-for="LeaveFormVM.FromDate" class="col-lg-3 control-label"></label>
						<div class="col-lg-8">
							<input type="text" asp-for="LeaveFormVM.FromDate" class="form-control datepicker">
							<span asp-validation-for="LeaveFormVM.FromDate" class="text-danger" />
						</div>
					</div>

					<div class="form-group">
						<label asp-for="LeaveFormVM.ToDate" class="col-lg-3 control-label"></label>
						<div class="col-lg-8">
							<input type="text" asp-for="LeaveFormVM.ToDate" class="form-control datepicker">
							<span asp-validation-for="LeaveFormVM.ToDate" class="text-danger" />
						</div>
					</div>

					<div class="form-group">
						<label asp-for="LeaveFormVM.WorkShift" class="col-lg-3 control-label"></label>
						<div class="col-md-8">
							<select asp-for="LeaveFormVM.WorkShift" id="selectbasic" class="form-control">
								<option value="0">AM</option>
								<option value="1">PM</option>
								<option value="2">All day</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label asp-for="LeaveFormVM.LeaveTypeID" class="col-lg-3 control-label"></label>
						<div class="col-md-8">
							<select asp-for="LeaveFormVM.LeaveTypeID" id="selectbasic" class="form-control">
								@{
									foreach (var type in await _leaveManager.GetLeaveType())
									{
										<option value="@type.ID">@type.LeaveName</option>
									}
								}
							</select>
						</div>
					</div>

					<div class="form-group">
						<label asp-for="LeaveFormVM.Note" class="col-md-3 control-label"></label>
						<div class="col-md-8">
							<input asp-for="LeaveFormVM.Note" class="form-control" value="" type="text" />
							<span asp-validation-for="LeaveFormVM.Note" class="text-danger" />
						</div>
					</div>


					<div class="form-group">
						<label class="col-md-3 control-label"></label>
						<div class="col-md-8">
							<input class="btn btn-primary" value="Submit" type="submit" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- /.content -->
