@using Microsoft.AspNetCore.Hosting

@inject UserManager<ApplicationUser> _userManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IHostingEnvironment _env

<!DOCTYPE html>

<html>
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--Components-->
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/bower_components/Ionicons/css/ionicons.css" rel="stylesheet" />
    <link href="~/bower_components/jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <link href="~/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/dist/css/skins/_all-skins.css" rel="stylesheet" />
    @RenderSection("Customcss", false)
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <style>
        .user-panel > .image > img {
            width: 100%;
            max-width: 45px;
            height: 32px;
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">

            <!-- Logo -->
            <a asp-controller="Manage" asp-action="GetTimesheet" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>T</b>SM</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>TSM</span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @{
                                    var userID = _userManager.GetUserId(User);
                                    var path = "/userImage/" + userID + ".jpg";
                                    var Absolutepath = _env.WebRootPath + path;

                                    if (System.IO.File.Exists(Absolutepath))
                                    {
                                        <img src=@path class="user-image" alt="User Image">
                                    }
                                    else
                                    {
                                        <img src="~/userImage/default.jpg" class="user-image" alt="User Image">

                                    }
                                }

                                <span class="hidden-xs">@_userManager.GetUserName(User)</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    @{
                                        var userID1 = _userManager.GetUserId(User);
                                        var path1 = "/userImage/" + userID + ".jpg";
                                        var Absolutepath1 = _env.WebRootPath + path1;
                                        if (System.IO.File.Exists(Absolutepath1))
                                        {
                                            <img src=@path class="img-circle" alt="User Image">
                                        }
                                        else
                                        {
                                            <img class="img-circle" src="~/userImage/default.jpg" />

                                        }
                                    }
                                    <p>
                                        @_userManager.GetUserName(User)

                                        <small>Member since 2017</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a asp-controller="Account" asp-action="GetProfile" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <form asp-controller="Account" asp-action="Logout" method="post">
                                            <button type="submit" class="btn btn-default btn-flat">Sign out</button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>


        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->

                <div class="user-panel">
                    <div class="pull-left image">
                        @{
                            var userID2 = _userManager.GetUserId(User);
                            var path2 = "/userImage/" + userID2 + ".jpg";
                            var Absolutepath2 = _env.WebRootPath + path2;

                            if (System.IO.File.Exists(Absolutepath2))
                            {
                                <a href="@Url.Action("GetProfile", "Account")"><img style="width:52px; height:52px" role="button" src=@path2 class="img-circle" alt="User Image"></a>
                            }
                            else
                            {
                                <a href="@Url.Action("GetProfile", "Account")"><img style="width:52px; height:52px" role="button" src="/userImage/default.jpg" class="img-circle" /></a>

                            }
                        }
                    </div>
                    <div class="pull-left info">
                        <p>@_userManager.GetUserName(User)</p>
                        <i class="fa fa-circle text-success"></i> Online
                    </div>
                </div>

                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i> <span>Timesheet</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="display: block;">
                            <li id="personal"><a asp-controller="Manage" asp-action="GetTimesheet"><i class="fa fa-circle-o"></i> Personal Timesheet</a></li>
                            @{
                                var user = await _userManager.GetUserAsync(User);
                                var userRoles = await _userManager.GetRolesAsync(user);
                                if (userRoles.Contains("Project Manager") || userRoles.Contains("Team Leader"))
                                {
                                    <li id="manager"><a asp-controller="Manage" asp-action="GetTimesheetManager"><i class="fa fa-circle-o"></i> Timesheet Manager</a></li>
                                    <li id="summary"><a asp-controller="Manage" asp-action="GetSummaryTimesheet"><i class="fa fa-circle-o"></i>Summary Timesheet</a></li>
                                }
                            }
                        </ul>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-xs-12">
                        @RenderBody()
                    </div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->


            </section>
            <!-- /.content -->

        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.
            </div>
            <strong>Copyright &copy; 2017 <a href="https://github.com/C-Sharp-Interns/TSM">Groove-Internship</a>.</strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>


    </div>
    <script src="~/bower_components/jquery/dist/jquery.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="~/dist/js/adminlte.js"></script>
    <script src="~/bower_components/jquery-sparkline/dist/jquery.sparkline.js"></script>
    <script src="~/bower_components/chart.js/Chart.js"></script>
    <script src="~/dist/js/pages/dashboard2.js"></script>
    <script src="~/dist/js/demo.js"></script>

    @RenderSection("jvscript", false)

    <script>
        $(document).ready(function () {
            var currentPage = sessionStorage["curPage"];
            if (currentPage != null) {
                if (currentPage == "TimesheetManager") {
                    $('#manager').addClass('active');
                }

                if (currentPage == "Timesheet") {

                    $('#personal').addClass('active');
                }

                if (currentPage == "SummaryTimesheetManager") {
                    $('#summary').addClass('active');
                }
            }
        });
    </script>
</body>
</html>
